/*Scrollbar*/
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ababab #0f0f0f;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #0f0f0f;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ababab;
    border-radius: 0px;
    border: 3px none #ffffff;
  }

body{
    margin: 0;
    padding: 0;
    background-color: #0F0F0F; 
    color: #8B8B8B;
    font-family: 'plex_regular';
    line-height: 1.2;
    overflow-x:hidden;
}

hr{
    border:none;
    height: 0.5px;
    background-color: #8B8B8B;
    margin:0;
    padding:0;
}

.gradient {
    width: 100%;
    height: 100px; 
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #121212, transparent);
    z-index: 99;
}

.header{
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid #6d6d6d   ;
    background-color: #0F0F0F;
    padding-top: 1.5%;
    padding-left:1.5%;
    padding-right:1.5%;
    padding-bottom: 1.5%;
    position: fixed;
    top: 0;
    width: 100vw; 
    z-index: 1000; 
    box-sizing: border-box;
}

.name{
    /* font-style: italic; */
    padding-right: 2%
}

.sentences{
    font-size: 0.9em;
    white-space: nowrap;
    line-height: 1.4; 
}

.about{
    font-size: 0.9em;
    white-space: nowrap;
    /* display: flex;
    align-items: center;  */
}

.tabs{
    padding: 15px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    /* animation: rotation 20s infinite linear; */
    position: fixed;
    top: 4%;
    right:2.5%;
    z-index: 100;
}
  
.icon:hover{
    filter: drop-shadow(0px 0px 3px #6d6d6d);
    animation-play-state: paused;
}

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


.physics-boxes{
    position: relative;
    font-size: 0.9em;
    padding-left:2%;
    padding-right:2%;
    margin-top: 50px;
    margin-bottom: 4%;
    display:flex;
    justify-content: right;
    /* border: 1px solid;  */
}

.titleone{
    left:8%; 
    top: -30%;
    position: absolute;
}

.titletwo{
    left:25%; 
    bottom: -10%; 
    position: absolute;
}

.physics-right{
    text-align: right;
    max-width: 600px;
}

.draggable{
    display: inline-block;
    line-height: 1.35;
    max-width: 310px;
    border: 1px solid #8B8B8B;
    padding: 12px;
    margin-top: 2%;
    background-color: #171717;
}

/*mid*/
.middle{
    background-color: #0F0F0F;
}

.first{
    margin-top: 6vh;    
}

.first, .second, .third, .fourth, .fifth, .sixth, .seventh{
    padding-left:2%;
    padding-right:2%;
}

.project-footers{
    display: flex;
    flex-direction: column;
    padding: 0 0 30px 0;
    margin: 0 2% 0 0; 
    max-width:18vw; 
}

.descriptions{
    font-size: 0.8em;
    margin: 15% 0 0 0;
}

.project-type{
    font-size: 0.8em;
    padding-bottom: 1.5%;
}

.project-title{
    font-size: 1.5em;
    line-height: 1;
    font-family: 'plex_medium';
    padding-top: 2%;
}

.view-details{
    display: inline-block;
    display:none; /*removed for now*/
    font-size: 0.8em;
    font-weight: 600;
    border: 1px solid #8B8B8B;
    padding: 8px;
    margin-top: 10%;
}

.view-details:hover{
    background-color: #8B8B8B;
    color:#0F0F0F;
    cursor:pointer;
}

.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 3%;
}

.projects img{
    max-width: 100%;
    height: auto;
}

.projects video{
    max-width: 100%;
    height: auto;
}

/*project img gridS*/
.img-grid{
    padding: 0 0 40px 0;
    max-width: 75vw;
    margin-left: auto;
}

/*1*/
.p1-img1{
    grid-area: one;
}
.p1-img2{
    grid-area: two;
}
.p1-img3{
    grid-area: three;
}

.one{
    display: grid;
    grid-template-areas: 
    'one one two'
    'one one three';
    gap: 15px;
}

.one video{
    border: 1px solid #8B8B8B;
}

/*2*/
.p2-img1{
    grid-area: second-one;
}
.p2-img2{
    grid-area: second-two;
    padding-top: 5%;
}
.p2-img3{
    grid-area: second-three;
}
.p2-img4{
    grid-area: second-four;
}

.two{
    display: grid;
    grid-template-areas: 
    'second-one second-two second-two second-three'
    'second-one second-two second-two second-four';
    gap: 15px;
}

/*3*/
.p3-img1{
    grid-area: third-one;
}
.p3-img2{
    grid-area: third-two;
}
.p3-img3{
    grid-area: third-three;
}

.three{
    display: grid;
    grid-template-areas: 
    'third-one third-one third-two'
    'third-one third-one third-three';
    gap: 15px;
}

/*4*/
.p4-img1{
    grid-area: fourth-one;
    margin: auto;
}
/* .p4-img2{
    grid-area: fourth-two;
} */
.p4-img3{
    grid-area: fourth-three;
    margin: auto;
}
/* .p4-img4{
    grid-area: fourth-four;
} */

.four{
    display: grid;
    grid-template-areas: 
    'fourth-one fourth-three fourth-three';
    /* 'fourth-four fourth-two'; */
    gap: 15px;
}

/*5*/
.p5-img1{
    grid-area: fifth-one;
    margin: auto;
}
.p5-img2{
    grid-area: fifth-two;
    margin: auto;
}

.five{
    display: grid;
    grid-template-areas: 
    'fifth-one fifth-two';
    gap: 15px;
}

/*6*/
.p6-img1{
    grid-area: sixth-one;
    margin-top: 5px;
}
.p6-img2{
    grid-area: sixth-two;
}
.p6-img3{
    grid-area: sixth-three;
}

.six{
    display: grid;
    grid-template-areas: 
    'sixth-one sixth-one sixth-two'
    'sixth-one sixth-one sixth-three';
    gap: 15px;
}

.sixth img{
    border: 1px solid #8B8B8B;
}

/*7*/
.p7-img1{
    grid-area: seventh-one;
}
.p7-img2{
    grid-area: seventh-two;
}
.p7-img3{
    grid-area: seventh-three;
}

.seven{
    display: grid;
    grid-template-areas: 
    'seventh-one seventh-one seventh-two'
    'seventh-one seventh-one seventh-three'
    ;
    gap: 15px;
}


/*draggable divs*/
.first, .second, .third, .fourth, .fifth, .sixth, .seventh {
    position: relative;
}

.project-draggables div{
    display: inline-block;
    font-size: 0.7em;
    font-weight: 600;
    line-height: 1.35;
    border: 1px solid #8B8B8B;
    padding: 10px;
    margin-top: 2%;
    background-color: #0F0F0F;
}

.project-draggables div:hover{
    cursor: move;
}


#drag1, #drag2, #drag3, #drag4, #drag5, #drag6, #drag7, #drag8, #drag9, #drag10, #drag11, #drag12, #drag13, #drag14, #drag15{
    position: absolute;
    display:none;

}

/*1*/
#drag1{
    width: 135px;
    height: 29px;
    left: 30%;
    bottom: 5%;
}

#drag2{
    width: 235px;
    height: 47px;
    right: 15%;
    bottom:43%;
}

/*2*/
#drag3{
    width: 145px;
    height: 30px;
    left: 39%;
    top: 15%;
}

#drag4{
    width: 170px;
    height: 45px;
    right: 14%;
    bottom:18%;
}

/*3*/
#drag5{
    width: 144px;
    height: 30px;
    left: 20%;
    bottom:10%;
}

#drag6{
    width: 125px;
    height: 43px;
    left: 68%;
    top: 33%;
}

#drag7{
    width: 105px;
    height: 30px;
    left: 72%;
    top: 42%;
}

/*4*/
#drag8{
    width: 178px;
    height: 45px;
    left: 40%;
    top: 5%;
}

#drag9{
    width: 178px;
    height: 47px; 
    right: 5%;
    bottom: 8%;
}

/*5*/
#drag10{
    width: 180px;
    height: 48px;
    left: 55%;
    top: 65%;
}

#drag11{
    width: 208px;
    height: 48px; 
    left: 62%;
    top: 75%;
}

#drag12{
    width: 90px;
    height: 30px;
    left: 79%;
    top: 8%;
}

/*6*/
#drag13{
    width: 148px;
    height: 46px;
    left: 22%;
    bottom: 15%;
}

#drag14{
    width: 115px;
    height: 44px; 
    right: 23%;
    top: 0.2%;
}

#drag15{
    width: 165px;
    height: 45px;
    right: 0.2%;
    bottom: 5%;

}

/*footer*/

a{
    text-decoration: none;
    color:inherit;
}

.links{
    text-decoration: underline;
}

.links:hover{
    cursor: pointer;
}

.footer{
    background-image: linear-gradient(#121212, #1C1C1C);
    display:flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left:2%;
    padding-right:2%;
}

/*media query */
@media(max-width: 700px){
    .middle{
        margin-top: 8vh;
    }

    .project-draggables div{
        display:none;
    }

    .header-left{
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .project-footers{
        grid-area: bottom;
        max-width:100%;

    }

    .img-grid{
        grid-area: top;
        max-width:100%;
    }

    .projects{
        display:grid;
        grid-template-areas: 
        'top'
        'bottom';
    }

    .name{
        font-size: 1em;
    }

    .about{
        padding-right: 5%;
        padding-top: 5%;
    }

    span.tabs{
        font-size: 0.9em;
    }

    .sentences{
        font-size: 0.8em;
        max-width:40vw;
        white-space: wrap;
    }

    .first{
        margin-top: 60vh;     
    }

    .draggable{
        font-size: 0.8em;
        max-width: 278px;
    }

    .img-grid{
        display:block;
        padding-top: 20px;
    }

    .p1-img2, .p1-img3, 
    .p2-img1, .p2-img2, .p2-img4,
    .p3-img2, .p3-img3,
    .p4-img3,
    .p5-img2,
    .p6-img2, .p6-img3,
    .p7-img2, .p7-img3
    {
        display:none;
    }

    .projects{
        margin: 0 3% 0 3%;
    }

    .view-details{
        display: none;
    }

    .project-title{
        font-size: 1.5em;
    }

    .descriptions{
        padding: 20px 0 0 0;
        font-size: 0.8em;
        margin: 0;
    }

    .footer{
        font-size: 0.9em;
    }

    .secondsentence{
        display: none;
    }
}