  *{
    scrollbar-width: auto;
    scrollbar-color: #ababab #0f0f0f;
  }
  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background: #0f0f0f;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #ababab;
    border-radius: 0px;
    border: 3px none #ffffff;
  }

#work-tab{
    text-decoration: underline;
}

body{
    margin: 0;
    padding: 0;
    background-color: #0F0F0F; 
    color: #8B8B8B;
    font-family: 'plex_regular';
    line-height: 1.2;
    overflow-x:hidden;
}

hr{
    border:none;
    height: 0.5px;
    background-color: #5b5b5b;
    margin:0;
    padding:0;
}

.header{
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid #6d6d6d;
    background-color: #0F0F0F;
    padding-top: 1.5%;
    padding-left:2%;
    padding-right:2%;
    padding-bottom: 1.5%;
    position: fixed;
    top: 0;
    width: 100vw; 
    z-index: 1000; 
    box-sizing: border-box;
}

.name{
    padding-right: 2%
}

.sentences{
    font-size: 0.9em;
    white-space: nowrap;
    line-height: 1.4; 
}

.about{
    font-size: 0.9em;
    white-space: nowrap;
}

.tabs{
    padding: 15px;
}

.tabs:hover{
    text-decoration: underline;
    cursor:pointer;
}

/*mid*/
.middle{
    background-color: #0F0F0F;
}

.eighth{
    margin-top: 6vh;    
}

.first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eighth{
    padding-left:2%;
    padding-right:2%;
}

.project-footers{
    display: flex;
    flex-direction: column;
    padding: 0 0 30px 0;
    margin: 0 2% 0 0; 
    max-width:18vw; 
}

.descriptions{
    font-size: 0.8em;
    margin: 15% 0 0 0;
}

.project-type{
    font-size: 0.8em;
    padding-bottom: 1.5%;
}

.project-title{
    font-size: 1.5em;
    line-height: 1;
    font-family: 'plex_medium';
    padding-top: 2%;
}

.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 3%;
    padding: 5% 2% 5% 2%;
}

.projects img{
    max-width: 100%;
    height: auto;
}

.projects video{
    max-width: 100%;
    height: auto;
}

/*project img gridS*/
.img-grid{
    /* padding: 0 0 40px 0; */
    max-width: 75vw;
    margin-left: auto;
}

/*1*/
.p1-img1{
    grid-area: one;
}
.p1-img2{
    grid-area: two;
    border: 1px solid #8B8B8B;
}
.p1-img3{
    grid-area: three;
}

.one{
    display: grid;
    grid-template-areas: 
    'one one two'
    'one one three';
    gap: 15px;
}

.one video{
    border: 1px solid #8B8B8B;
}

/*2*/
.p2-img1 {
    grid-area: second-one;
    width: 91%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p2-img2 {
    grid-area: second-two;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two{
    display: grid;
    grid-template-areas: 
    'second-one second-two second-two';
    gap: 15px;
}

/*3*/
.p3-img1{
    grid-area: third-one;
}
.p3-img2{
    grid-area: third-two;
}
.p3-img3{
    grid-area: third-three;
}

.three{
    display: grid;
    grid-template-areas: 
    'third-one third-one third-two'
    'third-one third-one third-three';
    gap: 15px;
}

/*4*/
.p4-img1{
    grid-area: fourth-one;
    margin: auto;
}

.p4-img3{
    grid-area: fourth-three;
    margin: auto;
}

.four{
    display: grid;
    grid-template-areas: 
    'fourth-one fourth-three fourth-three';
    gap: 15px;
}

/*5*/
.p5-img1{
    grid-area: fifth-one;
    margin: auto;
}
.p5-img2{
    grid-area: fifth-two;
    margin: auto;
}

.five{
    display: grid;
    grid-template-areas: 
    'fifth-one fifth-two fifth-two';
    gap: 25px;
}

/*6*/
.p6-img1{
    grid-area: sixth-one;
    margin-top: 5px;
}
.p6-img2{
    grid-area: sixth-two;
}
.p6-img3{
    grid-area: sixth-three;
}

/* .six{
    display: grid;
    grid-template-areas: 
    'sixth-one sixth-one sixth-two'
    'sixth-one sixth-one sixth-three';
    gap: 15px;
} */

.six{
    display: grid;
    grid-template-areas: 
    'sixth-two sixth-three';
    gap: 15px;
}

.sixth img{
    border: 1px solid #8B8B8B;
}

/*7*/
.p7-img1{
    grid-area: seventh-one;
}
.p7-img2{
    grid-area: seventh-two;
}
.p7-img3{
    grid-area: seventh-three;
}

/* .seven{
    display: grid;
    grid-template-areas: 
    'seventh-one seventh-one seventh-two'
    'seventh-one seventh-one seventh-three'
    ;
    gap: 15px;
} */

.seven{
    display: grid;
    grid-template-areas: 
    'seventh-one seventh-two'
    ;
    gap: 15px;
}

/*8*/
.p8-img1 {
    grid-area: second-one;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #8B8B8B; */

}

.p8-img2 {
    grid-area: second-two;
    max-height:97.5%;
}

.eight{
    display: grid;
    grid-template-areas: 
    'second-one second-one second-two';
    gap: 15px;
}

/*footer*/
a{
    text-decoration: none;
    color:inherit;
}

.links{
    text-decoration: underline;
}

.links:hover{
    cursor: pointer;
}

.footer{
    background-image: linear-gradient(#121212, #1C1C1C);
    display:flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left:2%;
    padding-right:2%;
}

/*media query */
@media(max-width: 700px){
    .middle{
        margin-top: 15vh;
    }

    .header{
        display:flex;
        flex-direction: column;
    }

    .header-left{
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .project-footers{
        grid-area: bottom;
        max-width:100%;

    }

    .img-grid{
        grid-area: top;
        max-width:100%;
        padding: 0 0 40px 0;

    }

    .projects{
        display:grid;
        grid-template-areas: 
        'top'
        'bottom';
    }

    .name{
        font-size: 1em;
    }

    .about{
        padding-right: 5%;
        padding-bottom: 3%;
    }

    span.tabs{
        font-size: 0.9em;
    }

    .sentences{
        font-size: 0.8em;
        max-width:70vw;
        white-space: wrap;
    }

    .first{
        margin-top: 60vh;     
    }

    .img-grid{
        display:block;
        padding-top: 20px;
    }

    .p1-img2, .p1-img3, 
    .p2-img1, .p2-img4,
    .p3-img2, .p3-img3,
    .p4-img1,
    .p5-img1,
    .p6-img1, .p6-img3,
    .p7-img2, .p7-img3,
    .p8-img2
    {
        display:none;
    }

    .projects{
        margin: 0 3% 0 3%;
    }

    .project-title{
        font-size: 1.5em;
    }

    .descriptions{
        padding: 20px 0 0 0;
        font-size: 0.8em;
        margin: 0;
    }

    .footer{
        font-size: 0.8em;
    }
}