@font-face {
    font-family: 'Haas Grot Disp 65';
    src: url('assets/HaasGrotDisp-65Medium.woff2') format('woff2'),
        url('assets/HaasGrotDisp-65Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Haas Grot Text 55 Roman';
    src: url('assets/HaasGrotText-55Roman.woff2') format('woff2'),
        url('assets/HaasGrotText-55Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Haas Grot Disp 75';
    src: url('assets/HaasGrotDisp-75Bold.woff2') format('woff2'),
        url('assets/HaasGrotDisp-75Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Text';
    src: url('assets/PublicoText-Roman.woff2') format('woff2'),
        url('assets/PublicoText-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    background-color: black;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

span{
    opacity: 50%;
}

.header{
    font-family: 'Haas Grot Disp 65';
    color: white;
    margin-left: 5%;
    margin-top: 1.5%;
}

.title{
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 3em;
    line-height: 1.1;
    /* border: 1px solid red; */
    /* height:10vh; */
}

.desc{
    padding-top: 1%;
    font-family: 'Haas Grot Text 55 Roman';
    max-width: 35vw;
}

.logo img{
    max-width: 10vw;
}

.canvas {
    padding-top: 3%;
    margin-bottom: 5%;
    width: 90vw;
    margin-left: 5%;
    height: 90vh;
    /* position: absolute;
    top: 50%;
    left: 0; */
    z-index: 1;
    background: transparent;
    overflow-y: hidden;
    /* border: 1px solid red; */
}

.articleText{
    background-color: white;
    font-family: 'Publico Text';
    margin: 0;
    max-width: 50ch;
    padding-top: 5%;
}

.article{
    width: 100vw;
    font-size: 1.2em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-bottom: 5%;
}

.boldTitle {
    display: inline-block;
    font-family: 'Haas Grot Disp 55', Arial, sans-serif;
    text-decoration: underline;
    font-size: 1.2em;
    color: black;
    opacity: 100%;
    background-color: transparent;
    font-weight: bold;
    padding-top:2%;
    /* margin: 1em 0; */
}

.captionText {
    display: block;
    font-family: 'Haas Grot Text 55 Roman', Arial, sans-serif;
    font-size: 0.7em;
    background-color: transparent;
    color: #000000;
    opacity: 100%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.articleIMG {
    max-width: 100%;
    margin-top: 4%;
    height: auto;
}