body {
    background-image: url(../homeimgs/textureBg.png);
    font-family: "t26-carbon", monospace;
    color: #000000;
    padding-bottom: 90px;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 1px; 
    height: 1px;
  }


/*trash can style*/
#reject{
    display: flex;
    flex-direction: column;
    padding-left:5%;
    text-align: canter;
}

#trash{
    filter: none;
    width:90px;
    height:auto;
    opacity: 100%;  
    user-select: none;
    padding-top: 5%;
    margin: 0 auto;
}

#trash:hover{
    filter: none;
    opacity: 100%;
    transform: none; 
    user-select: none;
}

/*json Content*/
.headshots {
    grid-area: heads;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    padding-left:5%;
    padding-right:5%;


    /*height: 1000px; 
    overflow-y: scroll; */
}



img{
    width: 120px;
    height: auto;
    filter: drop-shadow(5px 5px #21363a90) sepia(1) blur(3px) contrast(0.5);
    
}



img:hover{
    filter: drop-shadow(5px 5px #21363a90);
    transform: translate(-5px, -5px) scale(1.2);
}



/*stats image and txt */

#contextStats img {
    width:250px;
    height: auto;
    filter:none;
    opacity:100%;
    margin: -15px;
}

#contextStats img:hover {
    transform: none;
    filter:none;
    opacity:100%;
}

#contextStats {
    position:relative;
    display:flex;
    padding: 10px;
}

#contextStats p {
    position: absolute;
    z-index:2;
    text-align: left;

}

.context {
    padding-left: 5%;
    padding-bottom:5%;
}

/*overflow menu*/
.circle, .circle:hover {
    width:10px;
    height: auto;
    filter:none;
    opacity:100%;
}

.circle:hover{
    transform: scale(1);
}

.menu {
    height: 150px;
    overflow-y: scroll;
    padding-top: 5%;
    padding-bottom: 5%;
}

.profileMenu {
    padding-left:5%;
}

.contextBanner > img{
    width:250px;
    height: auto;
    filter:none;
    opacity:100%;
}

.contextBanner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contextBanner p {
    position: absolute;
    z-index: 2;
}

.contextBanner > img:hover {
    filter:none;
    opacity:100%;
    transform: scale(1);
}
.menu > div:hover {
    transform: scale(1.2);
}

.menu > div {
    padding-bottom: 5%;
    padding-left: 10%;
}


/*header*/
.header {
    grid-area: header; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.profileimgs {
    grid-area: profile;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);

}

#profileInfo{
    padding: 10px;

}

.profImgs:hover{
    transform: scale(1);
}


#captionImage {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
/*CAPTION IMAGE-------------------------------------------------------------------*/
#captionImage img{
    filter: none;
    opacity: 100%;
    width:250px;
    height:auto;
}

#captionImage img:hover{
    filter: none;
    opacity: 100%;
    transform:none;
}

#fourth{
    filter: none;
    opacity: 100%;
    width: 180px;
    height:auto;
}

#fourth:hover{
    filter: none;
    opacity: 100%;
    transform: none;
}


.categories, .categories2 {
    grid-area: categories;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 50px;

}


.grid {
    display: grid;
    grid-template-areas:
    'header header'
    'categories heads';
    gap: 10px;
    padding: 10px;
}




/*filter buttons*/
.btn {
    width:50px;
    height:auto;
    filter:none;
    opacity:100%;
    padding-left: 20px;
    padding-bottom: 10px;
}

.btn:hover {
    filter: drop-shadow(2px 2px #21363a90);
    transform: translate(-5px, -5px) scale(1.2);
}
#refresh {
    width:40px;
    height:auto;
    filter:none;
    padding-left: 20px;
    padding-bottom: 10px;
}
#camera {
    width:60px;
    height:auto;
    filter:none;
    padding-left: 20px;
    padding-bottom: 10px;
}

#camera:hover , #refresh:hover {
    filter: drop-shadow(2px 2px #21363a90);
    transform: translate(-5px, -5px) scale(1.2);
}

/*profile image caption*/
.caption{
    font-size: 10pt;  
    display: flex;  
    flex-direction: column;
    padding-left: 20px;
}

.captionText{
    display: flex;
    flex-direction: column;
}

.capLeft, .capRight {
    align-items: center;
    display: flex;
}

.capLeft p{
    padding-left: 10px;
}

.capRight p{
    padding-right: 10px;
}

.capLeft {
    float: left;
}

.capRight {
    float: right;
}

.heart, .info {
    width:25px;
    height:auto;
    filter: none;
    opacity: 100%;
}

.heart:hover, .info:hover {
    transform: scale(1.3);
    filter: drop-shadow(2px 2px #21363a90);
}





  /*dropdown menu button*/
      .dropbtn {
        border: none;
        cursor: pointer;
        width:50px;
        height: auto;
        padding: 20px;
        filter:none;
        opacity:100%;
      }

      .dropbtn:hover {
        transform: none;
      }
    
      .icons{
        width:90px;
        height:auto;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        filter: drop-shadow(5px 5px #21363a90);
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        /*background-color: #608a7f;*/
        min-width: 160px;
        overflow: auto;
        z-index: 5;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown a:hover {
        /*background-color: #a7b3b1;*/
        color: white;
    }
      
      .show {display: block;}


@media only screen and (max-width: 1250px) {

    .grid {
        grid-template-areas:
        'header'
        'categories'
        'heads';
    }

    .categories, .categories2 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        padding-left: 5%;
        padding-right: 5%;
    
    }

    #reject {
        display:none;
    }
}

@media only screen and (max-width: 800px) {

.headshots img{
    width:80px;
    height:auto;

}
}




