#ball1{
    position: absolute;
    width:200px;
    height:200px;
    left: 15%;
    top:40%;

    border-radius: 50%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

}

#ball1:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }



#ball2{
    position: absolute;
    width:200px;
    height:200px;
    left: 45%;
    top:30%;

    border-radius: 50%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

}
#ball2:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }


#ball3{
    position: absolute;
    width:200px;
    height:200px;
    left:75%;
    top:40%;

    border-radius: 50%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

}
#ball3:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }


/* https://codepen.io/halink0803/pen/qdVXqm BOUNCE HOVER EFFECT */

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

