/*
IBM Plex Mono Regular
IBM Plex Mono Medium
ABC Synt Regular
ABC Synt Book Italic

Website Colors:
Background Grey: #1B1B1B
Background Black: #0A0A09
Accent Green: #05E96E
Grey Font color: #8B8B8B;
Black Gradient on Grey Bg: #121212
*/

@font-face {
    font-family: 'plex_medium';
    src: url('ibmplexmono-medium-webfont.woff2') format('woff2'),
         url('ibmplexmono-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plex_regular';
    src: url('ibmplexmono-regular-webfont.woff2') format('woff2'),
         url('ibmplexmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'synt_italic';
    src: url('ABCSynt-BookItalic-Trial.woff2') format('woff2'),
         url('ABCSynt-BookItalic-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'synt_regular';
    src: url('ABCSynt-Regular-Trial.woff2') format('woff2'),
         url('ABCSynt-Regular-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'argent_italic';
    src: url('ArgentPixelCF-Italic.woff2') format('woff2'),
         url('ArgentPixelCF-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'argent_regular';
    src: url('ArgentPixelCF-Regular.woff2') format('woff2'),
         url('ArgentPixelCF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

