body{
  font-family: "t26-carbon", monospace;
  background-image: url('homeimgs/textureBg.png');
}

.content{
  padding-top: 70px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

p{
  position: absolute;
  max-width: 280px;
  padding: 5%;
}

.backgroundIMG {
  width: 350px;
}

.item1 { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

#titleText{
  position: absolute;
  z-index: 2;
  font-size: 25pt;
}

.banner{
  width:500px;
  height:auto;
  position: relative;

}

 /*dropdown menu button*/
 .dropbtn {
  border: none;
  cursor: pointer;
  width:50px;
  padding: 20px;

}

.icons{
  width:90px;
  height:auto;
}

.dropbtn:hover, .dropbtn:focus {
  filter: drop-shadow(5px 5px #21363a90);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /*background-color: #608a7f;*/
  min-width: 160px;
  overflow: auto;
  z-index: 5;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  /*background-color: #a7b3b1;*/
  color: white;
}

.show {display: block;}



@media only screen and (max-width: 900px) {

  .banner {
      width: 300px;
  }

  #titleText{
      font-size: 15pt;
  }
}