.fade-in {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

body{
    margin:0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: Montreal_Reg_It;

    overflow-x:hidden;
}


/*scrollbar*/
::-webkit-scrollbar {
    width: 6px;
    height: 2px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

/*particles*/
#particles-js {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    pointer-events: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    pointer-events: auto;

  }

/*header format*/
header{
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.header_fixed_container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


/*accent color selector*/
.emotion_selector_parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:25px;
    margin-top:10px;
}

.emotion_selector{
    display:flex;
    flex-direction: row;
    margin-bottom:8px;
    /* padding: 15px; */
}

.emotion_caption{
    font-size: 9pt;
}

#SAD, #OKAY, #HAPPY{
    border: 1.5px solid white;
    width: 50px;
    height: 30px;
    transition: all 0.7s ease;
}

#SAD:hover {
    border: 1.5px solid #FF0000;
    color:#FF0000;
}

#SAD:hover  span {
    color:#FF0000;
}

#OKAY:hover {
    border: 1.5px solid #00C2FF;
    color:#00C2FF;
}

#HAPPY:hover {
    border: 1.5px solid #00D662;
    color:#00D662;
}
/*progress bar*/
.progress_bar{
    width:100%;
    height: 10px;
    position: relative;
    display:inline-block;
    background-color: black;
    border: 2px solid red;
    margin-top:45px;
    margin-right:2%;
    margin-left: 2%;
}

/*cube*/
.container {
    width: 80px;
    height: 80px;
    perspective: 1000px; /* Adjusted perspective for smaller cube */
    margin: 30px auto 0; /* Adjusted margin for the smaller cube */
}

.cube {
    transform-style: preserve-3d;
    width: 70%;
    height: 70%;
    position: relative;
    animation: spin 5s infinite linear;
}

.face {
    position: absolute;
    width: 70%; /* Adjusted face sizes for a smaller cube */
    height: 70%; /* Adjusted face sizes for a smaller cube */
    background-color: black;
    border: 2px red solid;
}

.top {
    transform: rotateX(90deg) translateZ(20px); /* Half of the translateZ value */
}

.bottom {
    transform: rotateX(-90deg) translateZ(20px); /* Half of the translateZ value */
}
  
.right {
    transform: rotateY(90deg) translateZ(20px); /* Half of the translateZ value */
}

.left {
    transform: rotateY(-90deg) translateZ(20px); /* Half of the translateZ value */
}
  
.front {
    transform: rotateX(0deg) translateZ(20px); /* Half of the translateZ value */
}

.back {
    transform: rotateX(-180deg) translateZ(20px); /* Half of the translateZ value */
}

@keyframes spin {
    from {
      transform: rotateX(0deg) rotateY(0deg);
    }
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }


/*header text*/

.text1{
    font-family: 'ABC_Medium';
    font-size: 8vw;
    margin-top: 10%;
    margin-left: 3%;
}

.text2{
    font-family: Redaction50_It;
    display:flex;
    justify-content: right; 
    margin-right: 3%;
    color:#FF0000;
    font-size: 7vw;
    margin-top: -2%;

    margin-bottom: 7%;
}

hr{
    margin-left: 50px;
    margin-right: 50px;
    opacity: 50%;
}

/*body grids and flexboxes*/
.article_text{
    display: grid;
    grid-template-areas: 
    'header circles'
    'definition definition'
    'body_text body_text'
    ;
    margin-left: 5%;
    max-height:75vh;

    border-radius: 0 0 45px 0;
    background-color: #FF0000;
    color:black;
    padding: 1.5%;

}

    .header{
        grid-area: header;
        font-family: Redaction50_It;
        font-size: 2vw;
    }

    .circles{
        grid-area: circles;
        width:4vw; 
        display: flex;
        align-items: flex-start; 
        justify-content: flex-end;
        padding-left: 35%;
    }

    .definition{
        grid-area: definition;
        font-family: Montreal_Reg_It;
        font-size: 1vw;
        max-width: 17vw;
        margin-top: 5%;
        margin-bottom: 30%;
    }

    .body_text{
        grid-area: body_text;
        font-family: Montreal_Book;
        font-size: 1.05em;
        line-height: 1.1;
        max-width: 22vw;
        min-width: 20vw;
        display: flex;
        align-items: flex-end;
    }

.article_images{
    display: grid;
    grid-template-areas: 
    'butter1 butter2'
    'butter3 butter3'
    ;

    /* background-color: #2196F3; */
    gap: 10px;
    margin-left:3%;
    margin-right: 5%;
}

    .article_images .img{
        /* background-color: black; */
        border: #FF0000 1px solid;
    }

    .img.butter1{
        grid-area: butter1;
        display: flex;
        justify-content: center;
        align-items: center;

        position:relative;
    }

    .img.butter2{
        grid-area: butter2;
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 2%;
        position:relative;

    }

    .img.butter3{
        grid-area: butter3;
        display: flex;
        justify-content: center;
        align-items: center;

        position:relative;

    }

    .img img{
        width: 70%;
    }

    /*img info hover*/
    .img_info{
        padding: 5px;
        position: absolute;
        bottom: 7px;
        left: 7px;

        color: black;
        background-color: #FF0000;

        width: 10px;
        height: 10px;

        font-family: Montreal_Med;
    }

    /* img_caption initially hidden */
    .img_caption {
        opacity: 0;
        position: absolute;
        color: white;
        padding: 10px;
        transition: opacity 0.5s ease; /* Add transition for a smooth effect */
        z-index: 1; /* Initially behind the img */
        max-width: 350px;
        background-color: rgba(0, 0, 0, 0.5);
        font-family: Montreal_Book;
    }

    /* Show img_caption when the class .show-caption is present */
    .show-caption .img_caption {
        opacity: 1;
        z-index: 2; /* Bring it to the front */
    }

.article_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%
}

/*filtered sections*/
.filtered_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
    margin-top: 10%;
}

.chapter_header{
    font-family: Redaction50_It;
    font-size: 2vw;
    margin-bottom: 15%;
}

.chapter{
    font-family: Montreal_Med;
    font-size: 1.2vw;
    padding: 5%;
    margin-bottom: 5%;
    border: #FF0000 1px solid;

}

.chapter_container{
    min-width: 400px;
    /* background-color: aquamarine; */
}

    /*text content*/
    .text_content{
        font-family: Montreal_Book;
        font-size: 1.1em;
        line-height: 1.2;
        max-width: 50vw;
        border:#FF0000 1px solid;
        padding: 3%;
    }

    .one_content, .two_content, .three_content{
        padding-right: 10%;
        height: 400px;
        overflow-y: scroll;
    }

    .two_content{
        display: none;
    }

    .three_content{
        display: none;
    }

    .content_titles{
        font-family: Redaction35_Reg;
        color: #FF0000;
        font-size: 2vw;
    }

/*Ego details*/

.ego_container{
    display: flex;
    flex-direction: row;
    margin-bottom: 9%;
    justify-content: space-between;

}

.ego_details{
    font-family: Montreal_Book; 
    font-size: 1.2em;
    line-height: 1.3;
    max-width: 35vw;
    margin: 5%;
    padding: 2%;
    padding-right: 15%;
    border: 1px solid #FF0000;
}

.exampleImage img{
    width: 90%; 
    margin:auto;
    display:block;
    padding-bottom: 7%;
}

.ego_example{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding: 2%;
    border: 1px solid #FF0000;
    
    max-width: 300px;
}

/*start button*/

.start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Montreal_Med;
    font-size: 1vw;
    border: 1px solid white;
    width: 850px;
    float: inline-end;
    margin-right: 3%;
    margin-top: 7%;
    margin-bottom: 10%;
}

.rightbutton {
    background-color: #FF0000;
    padding: 1%;
    margin: 1%;
    color: black;
    white-space: nowrap;
}

.leftstart {
    padding-left: 2%;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
}

/*plus to x icons*/




#plus1.rotate {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  
  #plus2.rotate {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  
  #plus3.rotate {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  
  #plus1.inactive, #plus2.inactive, #plus3.inactive {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
